/* Variables para colores del logo */

:root{
    --navylogo: #011826;
    --blue2: #3299D9;
    --skyblue: #49C2F2;
    --maroon: #8C443E;
    --whitegrey: #F2F2F2;
}
@font-face {
    font-family: 'aeropuerto';
    src: url('./letras/Skyfont-NonCommercial.otf') format('opentype');
    /* Otras propiedades de la fuente, como font-weight y font-style, pueden especificarse aquí */
    font-weight: bold;
}



/* Estilos del header */

header{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
    background-color: var(--navylogo);
    color: #fff;
    padding: 10px; 
}

header div{
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'aeropuerto',sans-serif;
    margin-left: 100px;
    margin-right: 50px;
}

.logo{
    max-height: 200px;;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

a {
    margin-right: 50px;
    text-decoration: none;
    color: white;
}

nav a{
    font-weight: 600;
    padding: 10 px;
    flex-direction: column;
}

nav a:hover{
    color: red;
    
}

/* Estilos generales */
body {
    font-family: 'exo 2', sans-serif;
    margin: 0;
    padding: 0;
    background: url(/Icono/pistadespegue.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}



h1 {
    margin: 0;

}

.logo{
    width: 3rem;

}



main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0);
    background-color:RGBA(240,248,255,0.86); 
}
    

h2 {
    display: flex;
    justify-content: center;
}

.form-title {
    font-size: 50px;
}


label {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}

.busqueda {
    width: 97%;
    padding: 10px;
    margin-top: 2px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: rgba(236, 234, 234, 0.709);
    border-color: #3299D9;
}

button{
    border: 0;
    margin-top: 15px;
    margin-left: 10px;
    background: linear-gradient(150deg, blue, darkblue, blue);
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}

button span {
    background-color: rgb(14, 13, 13);
    padding: 16px 24px;
    border-radius: 6px;
    transition: .7s;

}

button:hover span {
    background: none;
}

button:active {
    transform: scale(0.9);
}

.reset{
    border: 0;
    margin-top: 15px;
    margin-left: 10px;
    background: linear-gradient(150deg, red, maroon, red);
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s;
}

.reset-button span {
    background-color: rgb(14, 13, 13);
    padding: 16px 24px;
    border-radius: 6px;
    transition: .7s;

}

button:hover span {
    background: none;
}

button:active {
    transform: scale(0.9);
}

.button-container {
    display: flex;
}






/* Resultados de búsqueda (personaliza según tus necesidades) */
#search-results {
    margin-top: 20px;
}

/* Estilos para la sección de resultados de búsqueda */
/* #search-results .flight-result {
    Agrega estilos para cada resultado individual de vuelo
} */

footer {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 600px){
    header {
        flex-direction: column;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}




